<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Lillydoo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link {% if app.request.get('_route') == "contact_list" %}active{% endif %}" href="{{ path("contact_list") }}">
          	Adresse Book
          </a>
          <a class="nav-item nav-link {% if app.request.get('_route') == "contact_new" %}active{% endif %}" href="{{ path('contact_new') }}">
          	Add Contact
          </a>
        </div>
      </div>
    </nav>
    
    <div class="container">
    	{% for status,msgs in app.flashes %}
    		<div class="alert alert-{{ status }}">
    		{% for msg in msgs  %}	
    	       <p> {{ msg | raw }}</p>
    		{% endfor %}	
    		</div>
    	{% endfor %}
    </div>

         {% block body %}{% endblock %}
         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
